.custom-menubar {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  background: var(--color-navbar-background);
  .homeLigthed {
    color: var(--color-accent-foreground);
  }
  ul {
    font-size: 1rem;
    font-weight: 600;
  }
  .nav-icon {
    font-size: 1.3rem;
  }
  .btn-contact {
    border-radius: 40px;
    background: var(--color-accent-foreground);
  }

  .logo {
    height: 40px;
    margin-right: 0rem;
    width: 180px;
    margin-left: 0.5rem;
  }

  .nav-icons {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-right: 6px;

    .nav-icon {
      font-size: 1.3rem;
      color: #c2b79b;
      background: none;
      border: none;
      cursor: pointer;

      i {
        font-size: 1.5rem;
      }
    }
  }
}
.active {
  color: var(--color-accent-foreground);
  font-weight: 600;
}

:host {
  width: 100dvw;
  //   display: block;
  //   margin-top: 60px; // altura del navbar
  //   background-color: var(--background); // color de fondo del resto de la página
}

@media screen and (max-width: 768px) {
  .custom-menubar {
    top: 85vh;
    transform: translateX(0%);
    ul {
      font-size: 2rem;
    }
    .about-image {
      img {
        max-width: 345px;
        height: 200px;
      }
    }
  }
}
