<section id="projects" class="projects-container">
  <h1 class="section-title">{{ "labels.projects" | translate }}</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div *ngFor="let project of projects" class="p-col-12 p-md-6">
      <div
        class="project-card-horizontal transition-transform duration-500 ease-in-out hover:scale-105"
      >
        <div
          class="project-image-wrapper cursor-pointer"
          (click)="loadModal(project)"
        >
          <img
            [src]="
              'assets/images/' +
              project.title.toLowerCase() +
              '/' +
              project.mainImage
            "
            class="project-image"
          />
        </div>
        <div class="project-card h-fit">
          <div class="project-technologies">
            <div
              *ngFor="let tech of project.technologies"
              class="badge tech-chip"
            >
              <img
                [src]="'assets/icons/' + tech.toLowerCase() + '.svg'"
                [alt]="tech.toLowerCase()"
              />

              {{ tech.toLowerCase() }}
            </div>
          </div>
          <h3 class="project-title">
            <a target="_blank" rel="noopener noreferrer" class="project-link">
              {{ project.title }}
              <i
                class="project-type-icon"
                [class]="
                  project.type === 'web' ? 'pi pi-desktop' : 'pi pi-mobile'
                "
                [title]="project.type"
              >
              </i>
            </a>

            <span *ngIf="project.link" class="project-link">
              <a
                class="project-technologies"
                [href]="project.link"
                target="_blank"
              >
                <div class="tech-chip badge text-[var(--color-white-content)]">
                  Demo
                </div>
              </a>
            </span>
          </h3>

          <p class="project-description">
            {{
              "projects." + project.title.toLowerCase() + ".description"
                | translate
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <input
    type="checkbox"
    id="mi-modal"
    class="modal-toggle"
    [(ngModel)]="galleryModal"
  />

  <dialog class="modal" *ngIf="displayedProjectImages().length > 0">
    <div class="modal-box w-11/12 max-w-5xl">
      <h3 class="text-lg font-bold text-center">
        {{ projectTitle.toUpperCase() }}
      </h3>
      <form method="dialog">
        <button
          class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
          (click)="closeModal()"
        >
          ✕
        </button>
      </form>
      <div class="carousel w-full">
        <ng-container
          *ngFor="let img of displayedProjectImages(); let i = index"
        >
          <div class="carousel-item w-full" [class.hidden]="i !== currentSlide">
            <img
              [src]="'assets/images/' + projectTitle.toLowerCase() + '/' + img"
              class="w-full h-150 object-cover imagesCarousel"
            />
          </div>
        </ng-container>
        <div
          class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between"
        >
          <a (click)="nextSlide()" class="btn btn-circle">❮</a>
          <a (click)="prevSlide()" class="btn btn-circle">❯</a>
        </div>
      </div>
    </div>
  </dialog>
</section>
