.projects-container {
  max-width: 1100px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centrar el contenedor */
  // background: var(--color-projects-background);

  .section-title {
    text-align: center;
    font-size: 2.5rem; /* Tamaño del título principal */
    margin-bottom: 40px;
    color: var(--color-base-content);
    margin: 2.5rem 0 3rem;
    font-weight: bold;
  }
  .project-card-horizontal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-card-background);
    padding: 20px;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    align-items: stretch; /* Centra verticalmente el contenido */

    .project-image {
      max-height: 300px;
      border-radius: 8px;
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
    .project-mobile-image {
      max-width: 250px;
      max-height: 300px;
      border-radius: 8px;
      object-fit: cover;
    }
  }
  .p-grid {
    margin-left: -1rem;
    margin-right: -1rem;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(400px, 1fr)
    ); /* Ajusta el número de columnas según el ancho */
    // flex-direction: column;
    gap: 1rem; /* espacio entre divs */
  }

  .p-col-12,
  .p-col-md-6 {
    padding: 1rem; /* Espacio entre las tarjetas */
  }

  .project-card {
    padding: 10px 25px;
    border-radius: 8px; /* Bordes redondeados */

    display: flex;
    flex-direction: column; /* Organiza el contenido verticalmente */
    justify-content: space-between; /* Espacio entre el título y la descripción */

    .project-title {
      font-size: 1.4rem; /* Tamaño del título de la tarjeta */
      color: var(--color-text-dark); /* Color blanco para el título */
      font-weight: bold;
      margin-top: 0;
      margin: 15px 0px;

      display: flex;
      justify-content: space-between;

      .project-link {
        color: var(--color-text-dark);
        text-decoration: none;
        transition: color 0.3s ease, text-shadow 0.3s ease;

        i {
          margin-left: 8px;
          font-size: 1.2rem;
          color: var(--color-text-dark);
        }

        .external-icon {
          font-size: 1rem;
          padding-right: 5px;
          color: var(--color-text-dark);
        }
      }
      .project-type-icon {
        font-size: 1.5rem;
        color: var(--color-text-dark);
      }
    }

    .project-description {
      font-size: 0.95rem; /* Tamaño del texto de descripción */
      color: var(--color-text-dark); /* Color gris claro para la descripción */
      line-height: 1.6;
      margin-bottom: 20px;
      flex-grow: 1; /* Hace que la descripción ocupe el espacio disponible */
      display: flex;
      align-items: center;
    }

    .project-technologies {
      display: flex;
      flex-wrap: wrap; /* Permite que los chips pasen a la siguiente línea */
      gap: 8px; /* Espacio entre los chips */
      margin-top: auto; /* Empuja los chips hacia abajo si hay espacio */
      /* Estilos específicos para los p-chip usando la clase asignada */
      .badge {
        background-color: var(
          --color-accent-foreground
        ); /* Fondo del chip (usa !important si es necesario sobreescribir estilos de PrimeNG) */
        color: var(--color-badge-bg);
        transition: transform 0.3s ease;
        font-weight: 500;
        border: none;
        height: 30px;
        width: fit-content; /* Ajusta el ancho al contenido */
        font-size: 0.8rem; /* Tamaño de fuente del chip */
        border-radius: 18px; /* Bordes redondeados para el chip */
        img {
          width: 20px; /* Ancho del icono dentro del chip */
          height: 20px; /* Alto del icono dentro del chip */
          margin-right: 5px; /* Espacio entre el icono y el texto */
          aspect-ratio: 1 / 1; /* Mantiene la proporción del chip */
          object-fit: contain;
          filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
        }
      }
      .tech-chip {
        transform: translateY(-4px);
        // box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.imagesCarousel {
  object-fit: contain;
  aspect-ratio: 1 / 1;
  width: 100%;
}
img {
  border-radius: 1rem;
}

/* Ajustes responsivos opcionales */
@media screen and (max-width: 768px) {
  .project-card-horizontal {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;

    .project-image {
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: none;
      object-fit: cover;
      margin-bottom: 1rem;
      border-radius: 8px;
    }

    .project-card {
      width: 100%;
      padding: 0;

      .project-title {
        color: var(--color-text-dark);
        font-size: 1.2rem;
        flex-direction: column;
        gap: 0.5rem;

        .project-link {
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }

        .project-type-icon {
          font-size: 1.2rem;
          padding-right: 5px;
        }
      }

      .project-description {
        font-size: 0.95rem;
        margin-bottom: 1rem;
      }

      .project-technologies {
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
      }
    }
  }

  .projects-container {
    padding: 0 1rem;

    .section-title {
      font-size: 2rem;
    }
  }
}

.project-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

/* La imagen sigue usando tu estilo original */
.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
