<section id="contact">
  <div
    class="contact-section mx-10 mt-20 mb-10 rounded-xl flex items-center justify-center"
  >
    <!-- <h2 class="section-title">{{ "labels.contact" | translate }}</h2> -->

    <div class="information-content">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 max-w-6xl mx-auto">
        <div class="social-media">
          <a href="https://github.com/Rygk1" target="_blank" class="nav-icon">
            <i class="pi pi-github"></i>
            GitHub
          </a>
          <a
            href="https://www.linkedin.com/in/rafael-gaitan"
            target="_blank"
            class="nav-icon"
          >
            <i class="pi pi-linkedin"></i>
            LinkedIn
          </a>
          <a
            href="mailto:rafael.gaitan342@gmail.com"
            target="_blank"
            class="nav-icon"
          >
            <i class="pi pi-envelope"></i>
            Email
          </a>
        </div>
        <div class="profile-picture">
          <img src="assets/profile/profile-real.webp" alt="Mi foto" />
        </div>
      </div>
      <div class="contact-description">
        <p>
          {{ "contact.descriptionOne" | translate }}
        </p>
        <p>
          {{ "contact.descriptionTwo" | translate }}
        </p>
        <p>
          {{ "contact.descriptionThree" | translate }}
        </p>
        <p>
          {{ "contact.descriptionFour" | translate }}
        </p>
        <p>
          {{ "contact.descriptionFive" | translate }}
        </p>
      </div>

      <div class="made-by">
        {{ "contact.by" | translate }}

        <div class="made-with">
          {{ "contact.made" | translate }}
          <img src="assets/icons/heart.svg" class="h-[60px]" /> &

          <a href="https://angular.dev/" target="_blank" class="nav-icon">
            <img src="assets/icons/angular.svg" class="h-[40px]" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
