<!-- Aquí se renderizarán los componentes hijos -->
<app-about #home *ngIf="aboutData()" [about]="aboutData()"></app-about>
<app-projects
  #projects
  *ngIf="projectsData()"
  [projects]="projectsData()"
></app-projects>
<app-technologies
  #technologies
  *ngIf="techData()"
  [technologies]="techData()"
  [tools]="toolsData()"
  [learning]="learningData()"
  [testimonials]="testimonialsData()"
></app-technologies>
<app-my-services
  #myServices
  *ngIf="servicesData()"
  [services]="servicesData()"
></app-my-services>
<app-contact #contact></app-contact>
<!-- <router-outlet> </router-outlet> -->
